@media screen and (maxwidth: 772px) {
    *{
        font-size: 1rem;
    }
    main{
        max-width: 40rem;
        margin: 0 auto;
    }
    html {
        font-size: calc(60% + 0.8vmin);
    }
    .items-container {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        
        
        flex-direction: column-reverse;
    align-content: stretch;

    }
    
    .image-container {
        width: 350px;
    height: 500px;
    }
    .Blog_Container{
        flex-direction: column;
    width: 350px;
    height: 2000px
    }
}
